version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: task_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: tasks_db
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: task_redis
    restart: always

  app:
    build: .
    container_name: task_api
    env_file: .env
    environment:
      - PYTHONPATH=/app
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  worker:
    build: .
    container_name: task_worker
    env_file: .env
    environment:
      - PYTHONPATH=/app
    command: python worker/tasks.py
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started